<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
      <a class="nav-item nav-link" routerLink="/restaurants" *ngIf="isAdmin">Restaurant</a>
      <a class="nav-item nav-link" routerLink="/dishes" *ngIf="isRestaurant">Dishes</a>
      <a class="nav-item nav-link" routerLink="/menu">Menu</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
  <p>
      <a href="#" target="_top">e-kaly</a>
  </p>
  <p>
      <a href="http://Rabakoson Fitia Andrianina" target="_top">Rabakoson Fitia Andrianina</a>
  </p>
</div>
